<nav class="navbar navbar-inverse" style="color: #FFFFCC;margin-bottom:0px !important;border-radius:0px !important;">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">SCGAS - SGV</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
	  <!--ul class="nav navbar-nav" style="font-color:#FFFFCC">
		<li class="active"><a href="#">Home</a></li>
		<li class=""><a href="javascript:;" [routerLink]="['area-municipe-home']">Área munícipe</a></li>
		<li class=""><a href="javascript:;" data-toggle="modal" data-target="#myModal">FAQ</a></li>
	  </ul-->
	  <ul class="nav navbar-nav navbar-right">
	  </ul>
	</div>
  </div>
</nav>  
<div class="page-header scgas-header">
  <div class="row">
    <div class="col-md-3 header-item">
      <!--img src="./assets/imgs/img_header.gif" -->
    </div>
    <div class="col-md-6 header-item">
      <h1 align="center">SCGAS - Sistema Administrativo</h1>
      <p align="center">Sistema de controle para SCGAS AGV</p>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
